src/python/complete.py
docs/images/DJ_controller_with_colorful_lights_DJ_equipment.png
docs/images/DJ_turntable_with_colorful_design_DJ_equipment.png
docs/images/DJ_turntable_with_colorful_lights_DJ_equipment.png
docs/images/DJ_equipment_and_music_icons_Music_DJ_equipment.png
.DS_Store
